<section id="home-header" class="Index-page Index-page--has-image">

    <div class="Index-page-scroll-indicator hidden" data-controller="ScrollIndicator">
        <div class="Header-Bottom">Scroll</div>
        <div class="Index-page-scroll-indicator-line"></div>
    </div>

    <div class="Index-page-content">
        <div class="role-text">
            <h1 style="white-space:pre-wrap;">FullStack
                <br>Developer.</h1>
        </div>
    </div>
    <div class="Index-page-content">
        <div class="hire-me">
            <section class="custom-cta-buttons left">
                <a href="/contact" class="custom-cta-buttons__button">Hire Me Today</a>
                <a href="#" class="custom-cta-buttons__watch-video">Watch Video</a>
            </section>
        </div>
    </div>

</section>