<section id="home-header" class="Index-page Index-page--has-image" data-parallax-original-element data-collection-id="5ccc29719140b7ce1e9f967b"
    data-parallax-id="5ccc29719140b7ce1e9f967b" data-edit-main-image="Background">

    <div class="Index-page-scroll-indicator hidden" data-controller="ScrollIndicator">
        <div class="Index-page-scroll-indicator-text">Scroll</div>
        <svg class="Index-page-scroll-indicator-arrow Icon Icon--caretLarge--down" viewBox="0 0 48 23">
            <use xlink:href="/assets/ui-icons.svg#caret-down-large-icon"></use>
        </svg>
        <div class="Index-page-scroll-indicator-line"></div>
    </div>

    <div class="Index-page-content  sqs-alternate-block-style-container">
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1563464413145" id="page-5ccc29719140b7ce1e9f967b">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-c5df76733e584a46f49f">
                        <div class="sqs-block-content">
                            <h1 style="white-space:pre-wrap;">FullStack
                                <br>Developer.</h1>
                        </div>
                    </div>
                    <div class="sqs-block code-block sqs-block-code" data-block-type="23" id="block-yui_3_17_2_1_1556899760972_11724">
                        <div class="sqs-block-content">
                            <section class="custom-cta-buttons left">
                                <a href="/contact" class="custom-cta-buttons__button">Hire Me Today</a>
                                <a href="#" class="custom-cta-buttons__watch-video">Watch Video</a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <figure class="Index-page-image" data-parallax-image-wrapper>
        <div data-controller="VideoBackground">
            <div class="sqs-video-background content-fill" data-config-url="" data-config-playback-speed="1" data-config-filter="3" data-config-filter-strength="60">
                <img data-src="../images/Header-Images-04.jpg" data-image-dimensions="2500x1406" data-image-focal-point="0.49,0.61" alt="Header-Images-04.jpg"
                    class="custom-fallback-image" data-load="false" src="../images/Header-Images-04.jpg" />
                <div id="player"></div>
            </div>
        </div>
    </figure>
</section>