<footer class="Footer" role="contentinfo" data-controller="FooterBreakpoints">
    <div class="Footer-inner clear">
        <div class="sqs-layout sqs-grid-12 columns-12 Footer-blocks Footer-blocks--top sqs-alternate-block-style-container" data-layout-label="Footer Top Blocks"
            data-type="block-field" data-updated-on="1563409739483" id="footerBlocksTop">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1557233182969_2176">
                        <div class="sqs-block-content">
                            <h1 style="text-align:center;white-space:pre-wrap;">Let me build the website you need.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Footer-middle">
            <div class="Footer-business">
                <div class="Footer-business-info">
                    <div class="Footer-business-info-item Footer-business-info-item--name">Devonstank.com</div>
                    <div class="Footer-business-info-item">922 North 3rd Street,</div>
                    <div class="Footer-business-info-item">Harrisburg, PA, 17102,</div>
                    <div class="Footer-business-info-item Footer-business-info-item--country">United States</div>

                    <a href="tel:(717) 525-1031" rel="tel" class="Footer-business-info-item Footer-business-info-item--phone">(717) 525-1031</a>
                    <a href="mailto:hello@devonstank.com" title="hello@devonstank.com" target="_blank" class="Footer-business-info-item Footer-business-info-item--email">hello@devonstank.com</a>
                </div>
                <div class="Footer-business-hours">
                    <div class="Footer-business-hours-heading">Hours</div>
                    <div class="Footer-business-hours-item">Mon 9am to 6pm</div>
                    <div class="Footer-business-hours-item">Tue 9am to 6pm</div>
                    <div class="Footer-business-hours-item">Wed 9am to 6pm</div>
                    <div class="Footer-business-hours-item">Thu 9am to 6pm</div>
                    <div class="Footer-business-hours-item">Fri 9am to 6pm</div>
                    <div class="Footer-business-hours-item">Sat Closed</div>
                    <div class="Footer-business-hours-item">Sun Closed</div>
                </div>
            </div>

            <div class="sqs-layout sqs-grid-12 columns-12 Footer-blocks Footer-blocks--middle sqs-alternate-block-style-container empty"
                data-layout-label="Footer Middle Blocks" data-type="block-field" data-updated-on="1563409600894" id="footerBlocksMiddle">
                <div class="row sqs-row">
                    <div class="col sqs-col-12 span-12"></div>
                </div>
            </div>

            <nav class="Footer-nav" data-content-field="navigation">
                <div class="Footer-nav-group">
                    <a href="/" class="Footer-nav-item">Home</a>
                    <a href="/squarespace-code-shop" class="Footer-nav-item">Code Shop</a>
                    <a href="/portfolio" class="Footer-nav-item">Portfolio</a>
                    <a href="/about" class="Footer-nav-item">About</a>
                    <a href="/resume" class="Footer-nav-item">Resume</a>
                    <a href="/blog" class="Footer-nav-item">Blog</a>
                    <a href="/press" class="Footer-nav-item">Press</a>
                    <a href="/contact" class="Footer-nav-item">Contact</a>
                </div>

            </nav>
        </div>
        <div class="sqs-layout sqs-grid-12 columns-12 Footer-blocks Footer-blocks--bottom sqs-alternate-block-style-container" data-layout-label="Footer Bottom Blocks"
            data-type="block-field" data-updated-on="1563410146246" id="footerBlocksBottom">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1557233182969_6548">
                        <div class="sqs-block-content">
                            <p style="text-align:center;white-space:pre-wrap;" class="">© 2019 Devon Stank.&nbsp;All rights reserved. Squarespace Developer &amp; Founder of
                                <a href="https://squar.co/" target="_blank">SQUAR</a>
                            </p>
                            <p style="text-align:center;white-space:pre-wrap;" class="">
                                <a href="https://www.devonstank.com/terms-of-service">Terms of Service</a>&nbsp;&nbsp; &nbsp;&nbsp;
                                <a href="https://www.devonstank.com/return-policy">Return Policy</a>&nbsp;&nbsp; &nbsp;&nbsp;
                                <a href="https://www.devonstank.com/privacy-policy">Privacy Policy</a>
                            </p>
                        </div>
                    </div>
                    <div class="sqs-block socialaccountlinks-v2-block sqs-block-socialaccountlinks-v2" data-block-type="54" id="block-yui_3_17_2_1_1563409926535_3934">
                        <div class="sqs-block-content">

                            <div class="sqs-svg-icon--outer social-icon-alignment-center social-icons-color-white social-icons-size-small social-icons-shape-circle social-icons-style-solid">
                                <nav class="sqs-svg-icon--list">
                                    <a href="https://www.instagram.com/squarespacedeveloper/" target="_blank" class="sqs-svg-icon--wrapper instagram-unauth">
                                        <div>
                                            <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                                                <use class="sqs-use--icon" xlink:href="#instagram-unauth-icon"></use>
                                                <use class="sqs-use--mask" xlink:href="#instagram-unauth-mask"></use>
                                            </svg>
                                        </div>
                                    </a>
                                    <a href="http://www.facebook.com/squarespacedeveloper" target="_blank" class="sqs-svg-icon--wrapper facebook">
                                        <div>
                                            <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                                                <use class="sqs-use--icon" xlink:href="#facebook-icon"></use>
                                                <use class="sqs-use--mask" xlink:href="#facebook-mask"></use>
                                            </svg>
                                        </div>
                                    </a>
                                    <a href="http://www.linkedin.com/in/devonstank" target="_blank" class="sqs-svg-icon--wrapper linkedin">
                                        <div>
                                            <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                                                <use class="sqs-use--icon" xlink:href="#linkedin-icon"></use>
                                                <use class="sqs-use--mask" xlink:href="#linkedin-mask"></use>
                                            </svg>
                                        </div>
                                    </a>
                                    <a href="https://www.youtube.com/channel/UCD1nXJoZFG1gL-ZpRxjefSA" target="_blank" class="sqs-svg-icon--wrapper youtube">
                                        <div>
                                            <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                                                <use class="sqs-use--icon" xlink:href="#youtube-icon"></use>
                                                <use class="sqs-use--mask" xlink:href="#youtube-mask"></use>
                                            </svg>
                                        </div>
                                    </a>
                                    <a href="mailto:hello@devonstank.com" target="_blank" class="sqs-svg-icon--wrapper email">
                                        <div>
                                            <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                                                <use class="sqs-use--icon" xlink:href="#email-icon"></use>
                                                <use class="sqs-use--mask" xlink:href="#email-mask"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>