<div class="Site">
  <div class="nav-header-area">
    <app-navbar></app-navbar>
    <app-home-header></app-home-header>
  </div>
  <div class="Site-inner Site-inner--index">
    <div class="Content-outer">
      <main class="Index">
        <app-home-intro></app-home-intro>
        <app-home-code-shop></app-home-code-shop>
        <app-home-projects></app-home-projects>
        <app-home-video></app-home-video>
        <app-home-hire-me></app-home-hire-me>
        <app-home-about></app-home-about>
        <app-home-posts></app-home-posts>

        <!-- <nav class="Index-nav">
            <div class="Index-nav-inner">

              <a href="#home-header" class="Index-nav-item active">
                <div class="Index-nav-indicator"></div>
                <div class="Index-nav-text">
                  <span>Home Header</span>
                </div>
              </a>

              <a href="#home-intro" class="Index-nav-item">
                <div class="Index-nav-indicator"></div>
                <div class="Index-nav-text">
                  <span>Home Intro</span>
                </div>
              </a>

              <a href="#home-code-shop" class="Index-nav-item">
                <div class="Index-nav-indicator"></div>
                <div class="Index-nav-text">
                  <span>Home Code Shop</span>
                </div>
              </a>

              <a href="#home-projects" class="Index-nav-item">
                <div class="Index-nav-indicator"></div>
                <div class="Index-nav-text">
                  <span>Home Projects</span>
                </div>
              </a>

              <a href="#home-video" class="Index-nav-item">
                <div class="Index-nav-indicator"></div>
                <div class="Index-nav-text">
                  <span>Home Video</span>
                </div>
              </a>

              <a href="#home-hire-me" class="Index-nav-item">
                <div class="Index-nav-indicator"></div>
                <div class="Index-nav-text">
                  <span>Home Hire Me</span>
                </div>
              </a>

              <a href="#home-about" class="Index-nav-item">
                <div class="Index-nav-indicator"></div>
                <div class="Index-nav-text">
                  <span>Home About</span>
                </div>
              </a>

              <a href="#home-posts" class="Index-nav-item">
                <div class="Index-nav-indicator"></div>
                <div class="Index-nav-text">
                  <span>Home Posts</span>
                </div>
              </a>

            </div>
          </nav> -->

        <app-footer></app-footer>
      </main>
    </div>
  </div>
</div>