html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0px;
    color: #000;
}

.nav-header-area {
    position: relative;
    background: #000 url(../images/Header-Images-04.jpg) no-repeat;
    background-size: cover;
    opacity: 1px;
}