<section id="home-video" class="Index-page" data-collection-id="56c0ddbeb654f906a5faa390" data-parallax-id="56c0ddbeb654f906a5faa390"
            data-edit-main-image="Background">

            <div class="Index-page-content ">
              <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1563451648913" id="page-56c0ddbeb654f906a5faa390">
                <div class="row sqs-row">
                  <div class="col sqs-col-12 span-12">
                    <div class="row sqs-row">
                      <div class="col sqs-col-1 span-1">
                        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_16_1477177850930_12287">
                          <div class="sqs-block-content">&nbsp;</div>
                        </div>
                      </div>
                      <div class="col sqs-col-10 span-10">
                        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_60_1455477396286_8836">
                          <div class="sqs-block-content">
                            <h1 style="text-align:center;white-space:pre-wrap;">Understanding my passion</h1>
                            <p style="text-align:center;white-space:pre-wrap;" class="">There's something to be said about working with passionate business owners that truly love what
                              they do. I’m no different. I started my business because I honestly enjoy coming to work every
                              day to create something beautiful that has the ability to impact others.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col sqs-col-1 span-1">
                        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_16_1477177850930_13100">
                          <div class="sqs-block-content">&nbsp;</div>
                        </div>
                      </div>
                    </div>
                    <div class="sqs-block gallery-block sqs-block-gallery" data-block-json="&#123;&quot;hSize&quot;:null,&quot;floatDir&quot;:null,&quot;methodOption&quot;:&quot;transient&quot;,&quot;existingGallery&quot;:null,&quot;newWindow&quot;:false,&quot;aspect-ratio&quot;:&quot;widescreen&quot;,&quot;aspectRatio&quot;:null,&quot;auto-crop&quot;:true,&quot;blockAnimation&quot;:&quot;none&quot;,&quot;collectionId&quot;:&quot;56c0df1c40261dbdade5af60&quot;,&quot;design&quot;:&quot;grid&quot;,&quot;lightbox&quot;:true,&quot;lightboxTheme&quot;:&quot;dark&quot;,&quot;padding&quot;:0,&quot;show-meta&quot;:true,&quot;show-meta-basic&quot;:true,&quot;show-meta-only-title&quot;:false,&quot;show-meta-only-description&quot;:false,&quot;square-thumbs&quot;:true,&quot;thumbnails-per-row&quot;:1,&quot;vSize&quot;:null,&quot;transientGalleryId&quot;:&quot;56c0df1c40261dbdade5af60&quot;&#125;"
                      data-block-type="8" id="block-yui_3_17_2_15_1455477396286_5577">
                      <div class="sqs-block-content">







                        <div class="
  sqs-gallery-container
  sqs-gallery-block-grid
  sqs-gallery-aspect-ratio-widescreen
  sqs-gallery-thumbnails-per-row-1
  
  

  
    
    
  
  sqs-gallery-block-show-meta
  
  

  
  

  
  block-animation-none
  clear">
                          <div class="sqs-gallery">











                            <div class="slide" data-type="video" data-animation-tier="1">
                              <div class="margin-wrapper">
                                <div class="
                    content-wrapper
                    content-fill
                    video-lightbox-wrapper
                  " data-title="Devon Stank - Squarespace Developer" data-description="" data-lightbox-theme="dark">
                                  <div class="sqs-video-wrapper" data-html="&lt;iframe allow=&quot;autoplay; fullscreen&quot; allowfullscreen=&quot;&quot; src=&quot;https://player.vimeo.com/video/355949646?app_id=122963&amp;amp;wmode=opaque&quot; width=&quot;426&quot; frameborder=&quot;0&quot; title=&quot;Devon Stank - Squarespace Developer&quot; height=&quot;200&quot;&gt;&lt;/iframe&gt;"
                                    data-provider-name="Vimeo">
                                    <div class="sqs-video-overlay" style="opacity: 0;">
                                      <img data-load="false" data-src="https://static1.squarespace.com/static/5300d507e4b0fa8137bdc65d/56c0df1c40261dbdade5af60/5d643db86a69a30001bf06e5/1566850507578/Thumbnail-02.jpg"
                                        data-image-dimensions="1915x896" data-image-focal-point="0.5,0.5" />
                                      <div class="sqs-video-opaque"> </div>
                                      <div class="sqs-video-icon"></div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>





                          </div>



                        </div>




                        <style type="text/css" id="design-grid-css">
                          #block-yui_3_17_2_15_1455477396286_5577 .sqs-gallery-block-grid .sqs-gallery-design-grid {
                            margin-right: -0px;
                          }

                          #block-yui_3_17_2_15_1455477396286_5577 .sqs-gallery-block-grid .sqs-gallery-design-grid-slide .margin-wrapper {
                            margin-right: 0px;
                            margin-bottom: 0px;
                          }
                        </style>



                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </section>