<header class="Header Header--bottom Header--overlay">
    <div class="Header-inner Header-inner--bottom" data-nc-group="bottom">
        <div class="logo">
            <a href="#" class="Header-branding">
            </a>
        </div>

        <div class="nav-elements">
            <nav class="Header-nav Header-nav--primary">
                <div class="Header-nav-inner">
                    <a href="/squarespace-code-shop" class="Header-nav-item" data-test="template-nav">Code Shop</a>
                    <a href="/portfolio" class="Header-nav-item" data-test="template-nav">Portfolio</a>
                    <a href="/about" class="Header-nav-item" data-test="template-nav">About</a>
                    <a href="/resume" class="Header-nav-item" data-test="template-nav">Resume</a>
                    <a href="/blog" class="Header-nav-item" data-test="template-nav">Blog</a>
                </div>
            </nav>
        </div>

        <div class="contact">
            <nav class="Header-nav Header-nav--secondary" data-nc-element="secondary-nav" data-content-field="navigation">
                <div class="Header-nav-inner">
                    <a href="/contact" class="Header-nav-item" data-test="template-nav">Contact</a>
                </div>
            </nav>
        </div>
    </div>
</header>