<section id="home-intro" class="Index-page" data-collection-id="56c0c9a89f7266bbb246bc0c" data-parallax-id="56c0c9a89f7266bbb246bc0c"
    data-edit-main-image="Background">

    <div class="Index-page-content ">
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1563476380639" id="page-56c0c9a89f7266bbb246bc0c">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1563455212177_5211">
                        <div class="sqs-block-content">
                            <div class="image-block-outer-wrapper image-block-v2 design-layout-overlap combination-animation-reveal individual-animation-slide-down individual-text-animation-slide-up image-position-left "
                                data-scrolled>

                                <div class="intrinsic">

                                    <div class="image-inset content-fit" data-animation-tier="1" data-description="">
                                        <noscript>
                                            <img src="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1563455363028-V8P5LM4JQUAQYXLX0XLU/ke17ZwdGBToddI8pDm48kJekWdA-yVR_eK-e9oj6mJR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmS0k9nmfOWkBD2X4dgpGrpXyieDmKVKcjvs37U1DUKoJj1-6weUQw1IaPYECD1zhD/Squarespace%2BContent%2BBlocks%2Bfor%2Ba%2BCoffee%2BShop%2BWebsite"
                                                alt="My passion and focus is Squarespace development - Let's be honest and cut through the marketing fluff. You need a website that looks amazing and actually works. Bottom line, that's what I do. And if you want to learn more about working with me, pick up the phone and give me a call (or email)."
                                            />
                                        </noscript>
                                        <img data-src="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1563455363028-V8P5LM4JQUAQYXLX0XLU/ke17ZwdGBToddI8pDm48kJekWdA-yVR_eK-e9oj6mJR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmS0k9nmfOWkBD2X4dgpGrpXyieDmKVKcjvs37U1DUKoJj1-6weUQw1IaPYECD1zhD/Squarespace%2BContent%2BBlocks%2Bfor%2Ba%2BCoffee%2BShop%2BWebsite"
                                            data-image="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1563455363028-V8P5LM4JQUAQYXLX0XLU/ke17ZwdGBToddI8pDm48kJekWdA-yVR_eK-e9oj6mJR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmS0k9nmfOWkBD2X4dgpGrpXyieDmKVKcjvs37U1DUKoJj1-6weUQw1IaPYECD1zhD/Squarespace%2BContent%2BBlocks%2Bfor%2Ba%2BCoffee%2BShop%2BWebsite"
                                            data-image-dimensions="1250x1667" data-image-focal-point="0.5,0.5" alt="Squarespace+Content+Blocks+for+a+Coffee+Shop+Website"
                                        />

                                        <div class="image-overlay">
                                        </div>

                                    </div>

                                </div>


                                <div class="image-card-wrapper" data-width-ratio>
                                    <div class="image-card sqs-dynamic-text-container">


                                        <div class="image-title-wrapper">
                                            <div class="image-title sqs-dynamic-text">
                                                <p class="">My passion and focus is Squarespace development</p>
                                            </div>
                                        </div>



                                        <div class="image-subtitle-wrapper">
                                            <div class="image-subtitle sqs-dynamic-text">
                                                <p class="">Let's be honest and cut through the marketing fluff. You need a website that
                                                    looks amazing and actually works. Bottom line, that's what I do. And
                                                    if you want to learn more about working with me, pick up the phone and
                                                    give me a call (or email).</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>