<section id="home-projects" class="Index-page" data-collection-id="56c0cbb2c6fc08567a77e6e8" data-parallax-id="56c0cbb2c6fc08567a77e6e8"
    data-edit-main-image="Background">

    <div class="Index-page-content ">
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1563481886233" id="page-56c0cbb2c6fc08567a77e6e8">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="row sqs-row">
                        <div class="col sqs-col-2 span-2">
                            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1563480369390_9079">
                                <div class="sqs-block-content">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col sqs-col-8 span-8">
                            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1410317780479_11759">
                                <div class="sqs-block-content">
                                    <h1 style="text-align:center;white-space:pre-wrap;">Squarespace projects.</h1>
                                    <p style="text-align:center;white-space:pre-wrap;" class="">Work with local, as well as, international clients has become an amazing opportunity
                                        that I don't take for granted. Take a look at my latest Squarespace projects that
                                        I’ve been busy working on.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-2 span-2">
                            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1563480369390_10129">
                                <div class="sqs-block-content">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1563475216167_8060">
                        <div class="sqs-block-content">&nbsp;</div>
                    </div>
                    <div class="row sqs-row">
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_3_1460869228159_11229">
                                <div class="sqs-block-content">




                                    <div class="image-block-outer-wrapper layout-caption-overlay-hover design-layout-inline combination-animation-fade-in individual-animation-none individual-text-animation-none">

                                        <div class="intrinsic" style="max-width:639.0px;">

                                            <div style="padding-bottom:125.03912353515625%;" class="image-block-wrapper   has-aspect-ratio" data-animation-tier="1" data-description="&lt;p class=&quot;&quot;&gt;&lt;em&gt;Coffee Shop &amp;amp; Roaster&lt;/em&gt;&lt;/p&gt;&lt;p class=&quot;&quot;&gt;&lt;strong&gt;Elementary&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;&quot;&gt;&lt;a href=&quot;/elementary-coffee-co&quot;&gt;View Project&lt;/a&gt;&lt;/p&gt;">
                                                <noscript>
                                                    <img src="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1563476526715-BV26O9OJ9LSZAJR6XF1H/ke17ZwdGBToddI8pDm48kB_9Hyc6xjdNdhdi3UWj6qlZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyD-Ak5I19l0qI4MZK8U1l4iOM0TV4ucICoJJXBeakb3qRksXQHZ18XeA_ypUs9BuQ/Squarespace-coffee-Shop-Website-Example-02.jpg"
                                                        alt="Coffee Shop &amp;amp; Roaster    Elementary    View Project" />
                                                </noscript>
                                                <img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1563476526715-BV26O9OJ9LSZAJR6XF1H/ke17ZwdGBToddI8pDm48kB_9Hyc6xjdNdhdi3UWj6qlZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyD-Ak5I19l0qI4MZK8U1l4iOM0TV4ucICoJJXBeakb3qRksXQHZ18XeA_ypUs9BuQ/Squarespace-coffee-Shop-Website-Example-02.jpg"
                                                    data-image="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1563476526715-BV26O9OJ9LSZAJR6XF1H/ke17ZwdGBToddI8pDm48kB_9Hyc6xjdNdhdi3UWj6qlZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyD-Ak5I19l0qI4MZK8U1l4iOM0TV4ucICoJJXBeakb3qRksXQHZ18XeA_ypUs9BuQ/Squarespace-coffee-Shop-Website-Example-02.jpg"
                                                    data-image-dimensions="639x799" data-image-focal-point="0.5,0.5" alt="Coffee Shop &amp;amp; Roaster    Elementary    View Project"
                                                    data-load="false" data-image-id="5d30c22ece04be00015834da" data-type="image"
                                                />
                                            </div>



                                            <div class="image-caption-wrapper">
                                                <div class="image-caption">
                                                    <p class="">
                                                        <em>Coffee Shop &amp; Roaster</em>
                                                    </p>
                                                    <p class="">
                                                        <strong>Elementary</strong>
                                                    </p>
                                                    <p class="">
                                                        <a href="/elementary-coffee-co">View Project</a>
                                                    </p>
                                                </div>
                                            </div>


                                        </div>

                                    </div>





                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1563480369390_8385">
                                <div class="sqs-block-content">&nbsp;</div>
                            </div>
                            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_3_1460869228159_11935">
                                <div class="sqs-block-content">




                                    <div class="image-block-outer-wrapper layout-caption-overlay-hover design-layout-inline combination-animation-fade-in individual-animation-none individual-text-animation-none">

                                        <div class="intrinsic" style="max-width:639.0px;">

                                            <div style="padding-bottom:125.03912353515625%;" class="image-block-wrapper   has-aspect-ratio" data-animation-tier="1" data-description="&lt;p class=&quot;&quot;&gt;&lt;em&gt;Subscription Service&lt;/em&gt;&lt;/p&gt;&lt;p class=&quot;&quot;&gt;&lt;strong&gt;Trail Notes&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;&quot;&gt;&lt;a href=&quot;/photographers-trail-notes&quot;&gt;View Project&lt;/a&gt;&lt;/p&gt;">
                                                <noscript>
                                                    <img src="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1563476760940-WDDU3YB1208CV5KVFS2Y/ke17ZwdGBToddI8pDm48kB_9Hyc6xjdNdhdi3UWj6qlZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyD-Ak5I19l0qI4MZK8U1l4iOM0TV4ucICoJJXBeakb3qRksXQHZ18XeA_ypUs9BuQ/squarespace-photography-portfolio-header.jpg"
                                                        alt="Subscription Service    Trail Notes    View Project" />
                                                </noscript>
                                                <img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1563476760940-WDDU3YB1208CV5KVFS2Y/ke17ZwdGBToddI8pDm48kB_9Hyc6xjdNdhdi3UWj6qlZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyD-Ak5I19l0qI4MZK8U1l4iOM0TV4ucICoJJXBeakb3qRksXQHZ18XeA_ypUs9BuQ/squarespace-photography-portfolio-header.jpg"
                                                    data-image="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1563476760940-WDDU3YB1208CV5KVFS2Y/ke17ZwdGBToddI8pDm48kB_9Hyc6xjdNdhdi3UWj6qlZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyD-Ak5I19l0qI4MZK8U1l4iOM0TV4ucICoJJXBeakb3qRksXQHZ18XeA_ypUs9BuQ/squarespace-photography-portfolio-header.jpg"
                                                    data-image-dimensions="639x799" data-image-focal-point="0.5,0.5" alt="Subscription Service    Trail Notes    View Project"
                                                    data-load="false" data-image-id="5d30c318ce04be0001586c05" data-type="image"
                                                />
                                            </div>



                                            <div class="image-caption-wrapper">
                                                <div class="image-caption">
                                                    <p class="">
                                                        <em>Subscription Service</em>
                                                    </p>
                                                    <p class="">
                                                        <strong>Trail Notes</strong>
                                                    </p>
                                                    <p class="">
                                                        <a href="/photographers-trail-notes">View Project</a>
                                                    </p>
                                                </div>
                                            </div>


                                        </div>

                                    </div>





                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_3_1460869228159_10521">
                                <div class="sqs-block-content">




                                    <div class="image-block-outer-wrapper layout-caption-overlay-hover design-layout-inline combination-animation-fade-in individual-animation-none individual-text-animation-none">

                                        <div class="intrinsic" style="max-width:639.0px;">

                                            <div style="padding-bottom:125.03912353515625%;" class="image-block-wrapper   has-aspect-ratio" data-animation-tier="1" data-description="&lt;p class=&quot;&quot;&gt;&lt;em&gt;Personal Brand&lt;/em&gt;&lt;/p&gt;&lt;p class=&quot;&quot;&gt;&lt;strong&gt;Jason Klock&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;&quot;&gt;&lt;a href=&quot;/jason-klock&quot;&gt;View Project&lt;/a&gt;&lt;/p&gt;">
                                                <noscript>
                                                    <img src="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1563476589792-6MLPG4ZUE7RNO7ESBXM9/ke17ZwdGBToddI8pDm48kB_9Hyc6xjdNdhdi3UWj6qlZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyD-Ak5I19l0qI4MZK8U1l4iOM0TV4ucICoJJXBeakb3qRksXQHZ18XeA_ypUs9BuQ/squarespace-personal-wedding-dj-website-2.jpg"
                                                        alt="Personal Brand    Jason Klock    View Project" />
                                                </noscript>
                                                <img class="thumb-image" data-src="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1563476589792-6MLPG4ZUE7RNO7ESBXM9/ke17ZwdGBToddI8pDm48kB_9Hyc6xjdNdhdi3UWj6qlZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyD-Ak5I19l0qI4MZK8U1l4iOM0TV4ucICoJJXBeakb3qRksXQHZ18XeA_ypUs9BuQ/squarespace-personal-wedding-dj-website-2.jpg"
                                                    data-image="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1563476589792-6MLPG4ZUE7RNO7ESBXM9/ke17ZwdGBToddI8pDm48kB_9Hyc6xjdNdhdi3UWj6qlZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyD-Ak5I19l0qI4MZK8U1l4iOM0TV4ucICoJJXBeakb3qRksXQHZ18XeA_ypUs9BuQ/squarespace-personal-wedding-dj-website-2.jpg"
                                                    data-image-dimensions="639x799" data-image-focal-point="0.5,0.5" alt="Personal Brand    Jason Klock    View Project"
                                                    data-load="false" data-image-id="5d30c26d9c18e10001985013" data-type="image"
                                                />
                                            </div>



                                            <div class="image-caption-wrapper">
                                                <div class="image-caption">
                                                    <p class="">
                                                        <em>Personal Brand</em>
                                                    </p>
                                                    <p class="">
                                                        <strong>Jason Klock</strong>
                                                    </p>
                                                    <p class="">
                                                        <a href="/jason-klock">View Project</a>
                                                    </p>
                                                </div>
                                            </div>


                                        </div>

                                    </div>





                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1563475216167_8632">
                        <div class="sqs-block-content">&nbsp;</div>
                    </div>
                    <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-8a92d1dfcb50ddb13688">
                        <div class="sqs-block-content">
                            <div class="sqs-block-button-container--center" data-animation-tier="2" data-alignment="center" data-button-size="large">
                                <a href="/portfolio" class="sqs-block-button-element--large sqs-block-button-element">More Squarespace Projects →</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>