<section id="home-hire-me" class="Index-page Index-page--has-image" data-parallax-original-element data-collection-id="56c13a4345bf218b7f4bc034"
            data-parallax-id="56c13a4345bf218b7f4bc034" data-edit-main-image="Background">

            <div class="Index-page-content  sqs-alternate-block-style-container">
              <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1563482417144" id="page-56c13a4345bf218b7f4bc034">
                <div class="row sqs-row">
                  <div class="col sqs-col-1 span-1">
                    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1563481390924_17978">
                      <div class="sqs-block-content">&nbsp;</div>
                    </div>
                  </div>
                  <div class="col sqs-col-10 span-10">
                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-83e7a63c03a7ed34f3cc">
                      <div class="sqs-block-content">
                        <h3 style="text-align:center;white-space:pre-wrap;">Full-time Squarespace Developer</h3>
                        <h1 style="text-align:center;white-space:pre-wrap;">Need help from a Squarespace expert? Let’s discuss your needs in detail.</h1>
                      </div>
                    </div>
                    <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_6_1501260424763_5400">
                      <div class="sqs-block-content">
                        <div class="sqs-block-button-container--center" data-animation-tier="2" data-alignment="center" data-button-size="medium">
                          <a href="/contact" class="sqs-block-button-element--medium sqs-block-button-element">I'm here to help you →</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col sqs-col-1 span-1">
                    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1563481390924_18745">
                      <div class="sqs-block-content">&nbsp;</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <figure class="Index-page-image" data-parallax-image-wrapper>

              <img data-src="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1563482534680-5NZ52TY73XUNWBJO333H/ke17ZwdGBToddI8pDm48kAjkaFTyBy8qANmErpxxnawUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2drtm2QGwqrGwDbYQLbBdiOKFRoiG18sEQh82yb7Mc1UsbSexTd1-frD7527z4SM9QQ/Header-Images-07.jpg"
                data-image="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1563482534680-5NZ52TY73XUNWBJO333H/ke17ZwdGBToddI8pDm48kAjkaFTyBy8qANmErpxxnawUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2drtm2QGwqrGwDbYQLbBdiOKFRoiG18sEQh82yb7Mc1UsbSexTd1-frD7527z4SM9QQ/Header-Images-07.jpg"
                data-image-dimensions="1500x997" data-image-focal-point="0.56,0.54" alt="Header-Images-07.jpg" data-load="false"
              />

            </figure>


          </section>