<header class="Header">
    <div class="flex-container">
        <div class="flex-item">
            <a href="# " class="Header-branding ">
            </a>
        </div>

        <div class="flex-item ">
            <nav class="Header-nav">
                <div class="Header-nav-inner ">
                    <a href="/squarespace-code-shop " class="Header-nav-item ">Code Shop</a>
                    <a href="/portfolio " class="Header-nav-item ">Portfolio</a>
                    <a href="/about " class="Header-nav-item ">About</a>
                    <a href="/resume " class="Header-nav-item ">Resume</a>
                    <a href="/blog " class="Header-nav-item ">Blog</a>
                </div>
            </nav>
        </div>

        <div class="flex-item">
            <nav class="Header-nav">
                <div class="Header-nav-inner ">
                    <img src="../../../images/contacts.png">
                    <a href="/contact " class="Header-nav-item contact">Contact</a>
                </div>
            </nav>
        </div>
    </div>
</header>