<section id="home-code-shop" class="Index-page Index-page--has-image" data-parallax-original-element data-collection-id="56c0e083f8baf3afb3248ba1"
    data-parallax-id="56c0e083f8baf3afb3248ba1" data-edit-main-image="Background">

    <div class="Index-page-content  sqs-alternate-block-style-container">
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1563475023546" id="page-56c0e083f8baf3afb3248ba1">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="row sqs-row">
                        <div class="col sqs-col-1 span-1">
                            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_7_1459429993504_8255">
                                <div class="sqs-block-content">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col sqs-col-10 span-10">
                            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_6_1456080626592_11782">
                                <div class="sqs-block-content">
                                    <h1 style="text-align:center;white-space:pre-wrap;">I also provide high-quality Squarespace plugins, snippets, training,&nbsp;and more.&nbsp;</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-1 span-1">
                            <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_7_1459429993504_7668">
                                <div class="sqs-block-content">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1563474394082_22576">
                        <div class="sqs-block-content">&nbsp;</div>
                    </div>
                    <div class="row sqs-row">
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block code-block sqs-block-code" data-block-type="23" id="block-yui_3_17_2_1_1563474394082_23290">
                                <div class="sqs-block-content">
                                    <section style="max-width: 360px;text-align:center;margin:0 auto;">
                                        <h3>Code Snippets</h3>
                                        <p style="font-size: 16px;line-height:1.8em;">These are exclusively made for Squarespace sites and will offer custom design options
                                            with easy to understand instructions.</p>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block code-block sqs-block-code" data-block-type="23" id="block-yui_3_17_2_1_1563474394082_27487">
                                <div class="sqs-block-content">
                                    <section style="max-width: 360px;text-align:center;margin:0 auto;">
                                        <h3>Video Training</h3>
                                        <p style="font-size: 16px;line-height:1.8em;">The training will go over some great insights to help users understand how to get
                                            the most out of their Squarespace site.</p>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="col sqs-col-4 span-4">
                            <div class="sqs-block code-block sqs-block-code" data-block-type="23" id="block-yui_3_17_2_1_1563474394082_28518">
                                <div class="sqs-block-content">
                                    <section style="max-width: 360px;text-align:center;margin:0 auto;">
                                        <h3>Tips & Tricks</h3>
                                        <p style="font-size: 16px;line-height:1.8em;">Learn from my mistakes and let me show you how to accomplish unique sections of your
                                            Squarespace site that will impress.</p>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1563474394082_21623">
                        <div class="sqs-block-content">&nbsp;</div>
                    </div>
                    <div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_12_1456080626592_8026">
                        <div class="sqs-block-content">
                            <div class="sqs-block-button-container--center" data-animation-tier="2" data-alignment="center" data-button-size="medium">
                                <a href="/squarespace-code-shop" class="sqs-block-button-element--medium sqs-block-button-element">Squarespace Code Shop →</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <figure class="Index-page-image" data-parallax-image-wrapper>

        <img data-src="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1556899754550-34K1W7PTL3HEVBS0G3ZG/ke17ZwdGBToddI8pDm48kFWxnDtCdRm2WA9rXcwtIYR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UcTSrQkGwCGRqSxozz07hWZrYGYYH8sg4qn8Lpf9k1pYMHPsat2_S1jaQY3SwdyaXg/Dark-Background-Banner.jpg"
            data-image="https://images.squarespace-cdn.com/content/v1/5300d507e4b0fa8137bdc65d/1556899754550-34K1W7PTL3HEVBS0G3ZG/ke17ZwdGBToddI8pDm48kFWxnDtCdRm2WA9rXcwtIYR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UcTSrQkGwCGRqSxozz07hWZrYGYYH8sg4qn8Lpf9k1pYMHPsat2_S1jaQY3SwdyaXg/Dark-Background-Banner.jpg"
            data-image-dimensions="1500x1000" data-image-focal-point="0.5,0.5" alt="Dark-Background-Banner.jpg" data-load="false"
        />

    </figure>


</section>